{% extends "::base.html.twig" %}

{% block body %}
<h1>All the animals</h1>
	<table class="table table-hover">
		{% for animal in animals %}
			<tr>
				<td>
					<h2>{{ animal.title }}</h2>
					<time>{{ animal.date|date('d M y')}}</time>
				</td>
				<td>
					<img src="{{ animal.url }}" alt="{{ animal.title }}">
					<p>{{ animal.description }}</p>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
